html, body {
  margin: 0;
  height: 100%;
}
#container {
  height: 100%;
  position: relative;
}
#sidebar {
  width: 150px;
  height: 100%;
  background-color: gainsboro;
  position: absolute;
  top: 0;
  right: 0;
}
#main {
  height: 100%;
  margin-right: 150px;
  background-color: pink;
}