html, body {
  margin: 0px;
  height: 100%;
}
#container {
  height: 100%;
  position: relative;
}
#left, #right {
  height: 150px;
  width: 150px;
  background-color: gainsboro;
}
#left {
  position: absolute;
  top: 0px;
  left: 0px;
}
#right {
  position: absolute;
  top: 0px;
  right: 0px;
}
#main {
  margin: 0px 150px;
  height: 100%;
  background-color: pink;
}